.footer-style {
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}


.left-side-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.payment-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contact-info {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.right-side-footer {
  color: white;
}
