<div class="footer-style">
  <div class="left-side-footer">
    <div>
      <a routerLink="/">
        <img style="width: 150px;" src="../../assets/img/flames.PNG" alt="top-grill-logo">
      </a>
    </div>
    <div class="payment-imgs">
      <img src="../../assets/img/cc-visa.png" alt="payment-visa">
      <img src="../../assets/img/cc-mastercard.png" alt="payment-mastercard">
    </div>
  </div>
  <div class="contact-info">
    <p>© Top Grill 2023</p>
    <p><a routerLink="/imprint" target="_blank">Impressum</a></p>
  </div>
  <div class="right-side-footer">
    <p>
      Telefon: +43 676 66 27 507 <br>
      E-Mail: office@topgrill.at <br>
      Adresse: Payergasse 13, 1160 Wien <br>
      Mi-Sa 12-22 Uhr, So 12-20 Uhr <br>
    </p>
    <div>
      <a href="https://www.facebook.com/TopGrillVienna" target="_blank"><img style="width: 30px;" src="../../assets/img/facebook.png" alt="facebook"></a>
    </div>
  </div>
</div>
