.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.grill-info {
  position: relative;
  right: 10px;
  top: 15px;
  width: 20px;
}
