<div id="menu" class="overall-menu">
  <div class="title-menu">
    <h1>Menü</h1>
  </div>
  <div class="food-styling">
    <app-soups></app-soups>
    <app-salads></app-salads>
    <app-main-course></app-main-course>
    <app-american-burger></app-american-burger>
    <app-grill></app-grill>
    <app-vegetarian></app-vegetarian>
    <app-side-dishes></app-side-dishes>
    <app-desserts></app-desserts>
  </div>
  <!-- <app-alcoholic-free-drinks></app-alcoholic-free-drinks>
  <app-alcoholic-drinks></app-alcoholic-drinks> -->
</div>
