<div class="contact-style">
  <div class="maps-general">
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2658.6354132190863!2d16.331749776621784!3d48.213638045862716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07e7043e4ff1%3A0x4d9cc057b2bf8121!2sTop%20Grill!5e0!3m2!1sen!2sat!4v1682784511842!5m2!1sen!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="middle-part">
      <h2>Haben Sie Sonderwünsche bezüglich der Rezepte? Kein Problem.</h2>
      <h2>Benötigen Sie gewisse Gerichte zu besonderen Anlässen? Kein Problem.</h2>
      <h2>Seid mehr als 15 Jahren erfüllen wir alle Wünsche unserer Kunden.</h2>
      <div class="gmaps-lieferando-logo">
        <img src="../../assets/img/google-maps-logo.png" alt="google-maps-logo">
        <img src="../../assets/img/lieferando-logo.jpg" alt="lieferando-logo">
        <img src="../../assets/img/stars-logo.png" alt="stars">
      </div>
    </div>
    <div>
      <img src="../../assets/img/hamburger.PNG" alt="burger-background">
    </div>
  </div>
  <div class="contact-info">
    <h3>Kontaktieren Sie uns telefonisch: Mittwoch-Samstag von 12-22 Uhr und Sonntag von 12-20 Uhr</h3>
    <p><a [href]="'tel:+436766627507'">Telefon: +43 676 66 27 507</a></p>
    <p><a [href]="'mailto:office@topgrill.at'"></a>E-Mail: office@topgrill.at</p>
  </div>
</div>
