<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>Nachspeisen</h1>
      </mat-panel-title>
      <mat-panel-description>
        Alle Nachspeisen {{panelOpenState ? 'schließen' : 'öffnen'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="card">
      <mat-card *ngFor="let nachspeise of nachspeisen">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ nachspeise.name }}</mat-card-title>
            <mat-card-subtitle>{{ nachspeise.price }}0 €</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ nachspeise.descriptionDE }}
        </mat-card-content>
        <mat-card-content>
          <img class="dessert-info" src="./assets/img/info.png" alt="info">
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
