<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>Suppen</h1>
      </mat-panel-title>
      <mat-panel-description>
        Alle Suppen {{panelOpenState ? 'schließen' : 'öffnen'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="card" >
      <mat-card *ngFor="let soup of soups" (click)="openInfo()">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ soup.name }}</mat-card-title>
            <mat-card-subtitle>{{ soup.price }}0 €</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ soup.descriptionDE }}
        </mat-card-content>
        <mat-card-content>
          <img class="soups-info" src="./assets/img/info.png" alt="info">
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
