<app-header></app-header>
<div>
  <h1>Impressum</h1>
Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.

FIRMENWORTLAUT
Sasa Badjevic Top Grill e.U.
Payergasse 13,
1160 Wien,
Österreich

Unternehmensgegenstand: Gastgewerbe & Fleischerei
UID-Nummer: ATU68558303
Firmenbuchnummer: FN 403737 g
Firmenbuchgericht: HG Wien
Firmensitz: 1160 Wien
Firmenanschrift: Payergasse 13

Geschäftsführerin: Herr Sasa Badjevic
Beteiligungsverhältnisse: Herr Sasa Badjevic zu 100%

KONTAKTDATEN
Tel.: +43 676 66 27 507
E-Mail: office@topgrill.com

MITGLIEDSCHAFTEN
WKO Wien
</div>
